body {
	background: #F4F4F4;
	list-style: none;
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.sect { display: block; float: none; width: 1250px; margin: 0 auto; background: url(images/section-closed-icon.png) top right no-repeat #FFF;}
.open {background: url(images/section-open-icon.png) top right no-repeat #FFF;}

.breakdown {margin-top: 20px;}
.top {margin-bottom: 20px;}
.pageContainer{
	width: 1250px;
	margin: 0 auto;
	
}
h3 {
	font-family: 'Roboto-Regular','Roboto';
	font-weight: lighter;
	font-size: 21px;
	color: #4A4A4A; 
	margin: 0; 
	padding: 20px 10px;
	margin-top: 20px;
	cursor: pointer;
}


.KSKOcard table {width: 100%;}
.KSKOcard td {border:1px dotted red;}

.logo {background: #FFF; text-align: center; }

/** Node Info Alternatives **/
.nodeinfosm {text-align: center; height: 60px; background: #585858; cursor: pointer;}
.nodefixedsm {display: none; text-align: center; position: fixed; height:34px; top:0px; width: 100%; background: #585858; z-index: 1002; margin-bottom: 20px; cursor: pointer;}



/** Node Info Alternatives **/

.ribbon ul {margin: 0 0 0 0; padding: 0 0 20px 10px; height: 120px; list-style: none; display: block; background: #FFF;}
.ribbon li {
    float: left;
    position: relative;
    z-index: 5;
	
}
.highestrated ul li {padding-top: 10px;}
.ribbon li:hover {
   
    z-index: 7;
    cursor: default;
}

.ribbon ul li:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid #FFF;
	margin: 4px 13px 4px 0;
	cursor: pointer;
	}

.ribbon ul li {
    margin: 5px 15px 5px 0;
    
    padding: 1px;
    width: 136px;
    height: 115px;
    text-align: center;
    background-color: #E9E9F2;
    border-radius: 8px;
}
.ribbon ul li.green1 {background-color: #BBD782;}
.ribbon ul li.green2 {background-color: #CFE1AC;}
.ribbon ul li.red1 {background-color: #F7E8E7;}
.ribbon ul li.red2 {background-color: #F0B4B0;}

.ribbon ul li.blue7 {background-color: #9BC5FF;}
.ribbon ul li.blue6 {background-color: #ABD0FF;}
.ribbon ul li.blue5 {background-color: #ABD0FF;}
.ribbon ul li.blue4 {background-color: #BEDBFF;}
.ribbon ul li.blue3 {background-color: #D2E6FF;}
.ribbon ul li.blue2 {background-color: #D2E6FF;}
.ribbon ul li.blue1 {background-color: #E8F3FF;}
.ribbon ul li.blue {background-color: #F3F9FF;}

.ribbon ul li.white {background-color: #FFF; border: 1px solid #BEBEBE;}

li.active{
	
border: 3px solid #FFFFFF;
box-shadow: 0 0 5px 0 rgba(0,0,0,0.50);
margin: -1px -1px -1px -1px;
z-index: 6;

}

.score {
	font-family: 'Roboto-Thin','Roboto';
	font-size: 29px;
	color: #666;
	letter-spacing: -1.25px;
	text-align: center;
	display: block;
	padding: 8px 0 0px 0;
}
.category {
	font-family: 'Roboto-Regular','Roboto';
	font-size: 13px;
	color: #4A4A4A;
	text-align: center;
	display: block;
	padding: 3px 0;
	height: 30px;
}
.change {
	font-family: 'Roboto-Regular','Roboto';
	font-size: 20px;
	color: #000000;
	letter-spacing: 0.03px;
	text-align: center;
	display: block;
}

.pos {color: #36B785;}
.neg {color: #F24965;}

/** ToolTip **/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 10;
}

.tooltip .tooltiptext {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
 
  bottom: -185px;
  left: -740px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {position: absolute;}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
   z-index: 100;
}

/** Detail **/
.detailksko {
  position: relative;
  display: inline-block;
  z-index: 10;
  
}

.detailpanelksko {
	display: none;
  position: absolute;
  top: -328px;
  bottom: 0px;
  left: 432px;
}




/** Detail actions **/
.detailkskoactions {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.detailactions {
  display: none;
  position: absolute;
  top: -272px;
  bottom: 0px;
  left: 608px;
}


.detailactionsSecond {
  display: none;
  position: absolute;
  top: -272px;
  bottom: 0px;
  left: 170px;
}

.detailactionsThird {
  display: none;
  position: absolute;
  top: -272px;
  bottom: 0px;
  left: 450px;
}

/** Actions Added **/
.actionsadded {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.actionsaddedmessage {
	display: none;
  position: absolute;
  top: -90px;
  bottom: 0px;
  left: 920px;
}


/** Actions panel **/

.actionsaddedpanel {
	position: relative;
  display: inline-block;
  top: 20px;

  

}

.actionsaddedpaneldetail {
	display: none;
  position: absolute;
  top: -525px;
  bottom: 0px;
  left: 890px;
  z-index: 1000;
}
}



/** End Detail **/

div.top2 {display: block; margin: 40px 0 20px 0;}
div.top3 {display: none; margin: 0px 0 20px 0; }

.chooseReport {position: fixed; top: 110px; z-index: 11; display: none; }
.chooseReport2 { position: fixed; top: 31px; z-index: 11; display: none;}

span.benchmarkcontainer {display: none;}   

span.multcompareitems {display: none;}
span.multcomparetable {display: none;}
span.benchmark-container {display: none;}
span.comtable {display: none;}
span.comchartclick {display: none;}
span.commentsbenchmarkspan {display: none;}
span.commentsbreakdownspan {display: none;}

ul.mostimproved {display: none;}

/* benchmarks */

.bench1b {display: none;}
.benchchart {display: none;}
.bench1 {display: none;}
.bench2 {display: none;}
.bench3 {display: none;}
.bench4 {display: none;}
.bench5 {display: none;}

